:root {
  --primary-text-color: #000000;
  --secondary-text-color: #8b8b8b;
  --divider-color: #d2d2d2;
  --order-divider-color: #393333;
  --background-color: #ffffff;
  --checkout-section-total-color: #0e0e0e;
  --remove-item-color: #bbbbbb;
  --purchase-button-color: #16d899;
  --modal-input-placeholder-color: #757575;
  --order-complete-text-color: #065f46;
  --order-complete-background-color: #ecfdf5;
}

/* font-family "remove" in checkout section: Verdana*/
/* purchase button font-family: verdana, color: white*/
/* modal font-family: verdana*/

html {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
  min-height: 100vh;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
}

header {
  background-image: url("bg-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 270px;
  width: 100%;
  margin: 0;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
}





header h1 {
  font-size: 4rem;
  margin: 0;
  padding-left: 4rem;
}


header span {
  font-size: 2.2rem;
  margin-top: 10px;
  padding-left: 4rem;
}



main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  width: 100%;
  flex: 1;
}

h2 {
  margin: 0;
  font-size: 3rem;
  font-weight: normal;
}

h3 {
  margin: 0;
  margin-bottom: 4rem;
  font-weight: normal;
  font-size: 3rem;
  color: var(--primary-text-color);
  text-align: center;
}

.menu-item-ingredients {
  font-size: 2rem;
  margin: 0.7rem 0 0.7rem 0;
  color: var(--secondary-text-color);
}

.menu-item-price {
  font-size: 2.5rem;
  margin: 0.9rem 0 0 0;
}

.menu-item-divider {
  border: none;
  border-top: 1px solid var(--divider-color);
  padding: 10px 10px;
  width: 97%;
}

#menu-container {
  width: 90%;
  padding: 4rem 3rem 1rem 3rem;
  flex: 1;
}


.menu-item {
  display: flex;
  align-items: flex-start;
  gap: 3rem;
  padding: 1rem 0;
  width: 100%;
  height: 200px;
}

.menu-description {
  width: 70%;
  flex-grow: 1;
  font-size: 16px;
}

.menu-item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.add-to-order-btn {
  height: 5rem;
  width: 5rem;
  cursor: pointer;
  margin-right: 2rem;
}

#order-summary {
  padding: 1rem 2rem 2rem 2rem;
  width: 90%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.order-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.6rem;
}

.order-divider {
  border: none;
  border-top: 1px solid var(--order-divider-color);
  margin: 2rem 0;
}

.order-item-name,
.order-item-price,
.order-total {
  font-size: 3rem;
}

.order-item-left {
  display: flex;
  gap: 12px;
  align-items: center;
}

.remove-item-btn {
  font-family: "Verdana", sans-serif;
  font-size: 1.6rem;
  color: var(--remove-item-color);
  cursor: pointer;
}

.order-total {
  display: flex;
  justify-content: space-between;
  color: var(--checkout-section-total-color);
}

.complete-order-btn {
  width: 100%;
  height: 6rem;
  padding: 1rem;
  margin-top: 3rem;
  font-family: "Verdana", sans-serif;
  background-color: var(--purchase-button-color);
  color: white;
  font-size: 2rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input {
  padding: 1rem 0.9rem;
  width: 100%;
  margin-bottom: 1rem;
  border: 1px solid #757575;
}

input::placeholder {
  color: var(--modal-input-placeholder-color);
}

#payment-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3); /* Optional: slight dark overlay */
}

.modal-content {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
}

.modal-content h4 {
  font-size: 24px;
  font-family: "Verdana", sans-serif;
  text-align: center;
  margin: 0 0 2rem 0;
}

#pay-btn {
  display: block;
  margin-top: 1rem;
  font-family: "Verdana", sans-serif;
  background-color: var(--purchase-button-color);
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 1rem 0;
  border: none;
  cursor: pointer;
}

.order-confirmation {
  color: var(--order-complete-text-color);
  background-color: var(--order-complete-background-color);
  margin: 0;
  padding: 2rem 1rem;
  font-size: 32px;
  text-align: center;
}

@media only screen and (max-width: 400px) {
  header {
    width: 97%;
    height: 200px;
    background-position: center;
  }
  header h1 {
    font-size: 2.7rem;
    padding-left: 1rem;
  }
  header span {
    font-size: 1.2rem;
    padding-left: 1rem;
  }
  main {
    width: 97%;
  }
  #menu-container {
    width: 90%;
    padding: 2rem 1rem 1rem 1rem;
  }
  .menu-item {
    height: 150px;
    gap: 1rem;
  }
  .menu-item-image {
    width: 60px;
    height: auto;
  }
  .menu-item-name {
    font-size: 2rem;
  }
  .menu-item-ingredients {
    font-size: 1.4rem;
  }
  .menu-item-price {
    font-size: 2rem;
  }
  .add-to-order-btn {
    height: 3rem;
    width: 3rem;
    margin-right: 1rem;
  }
  h3 {
    font-size: 2.2rem;
    margin-bottom: 2rem;
  }
  .order-item-name,
  .order-item-price,
  .order-total {
    font-size: 2rem;
  }
  .remove-item-btn {
    font-size: 0.9rem;
  }
  .complete-order-btn {
    height: 4rem;
    font-size: 1.2rem;
  }
  .modal-content {
    width: 70%;
    padding: 1.7rem 1rem;
  }
  form  {
    margin-block-end: 0;
  }
  #order-summary {
    padding: 0 1rem 2rem 1rem;
    text-align: center;
  }
}