:root {
    --primary-text-color: #000000; /*h4 color, price color*/
    --secondary-text-color: #8b8b8b; /*p color*/
    --divider-color: #d2d2d2; /*divider line color*/
    --background-color: #ffffff;
    --checkout-section-total-color: #0e0e0e;
    --remove-item-color: #BBBBBB;
    --purchase-button-color: #16D899;
    --modal-input-placeholder-color: #757575;
    --order-complete-text-color: #065F46;
    --order-complete-background-color: #ECFDF5;
}

/* font-family "remove" in checkout section: Verdana*/
/* purchase button font-family: verdana, color: white*/
/* modal font-family: verdana*/



body {
  margin: 0;
  padding: 0;
  font-family: "Smythe", system-ui;
  font-weight: 400;
  font-style: normal;
  height: 100vh;
  background-color: var(--background-color);
}

header {
    background-image: url('bg-img.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

main {
    height: 80vh;
    padding: 20px;
}

h2{
    margin: 0;
    font-size: 28px;
}

h3{
    margin: 0;
    margin-bottom: 3rem;
    font-size: 26px;
    color: var(--primary-text-color);
    text-align: center;
}

p {
    margin: 0.3rem 0 0.7rem 0;
}

.menu-item-ingredients {
    color: var(--secondary-text-color);
}

.menu-item-price{
    font-weight: regular;
    font-size: 20px;
}

.menu-item-divider {
    border: none;
    border-top: 1px solid var(--divider-color);
    padding: 10px 10px;
    width: 97%;
}

#menu-container {
    padding: 3rem 2rem 0 2rem;
}

.menu-item {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    width: 100%;
    height: 140px;
}

.menu-description {
    width: 70%;    
    flex-grow: 1;
    font-size: 16px;
}

.menu-item-image {
    width: 70px;
    height: 80px;
    object-fit: cover;
}

.add-to-order-btn{
    font-size: 24px;
    cursor: pointer;
}

#order-summary {
    padding: 1rem 2rem 0 2rem;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.6rem;
}

.order-divider {
    border: none;
    border-top: 1px solid var(--divider-color);
    margin: 1rem 0;
}

.order-item-name,
.order-item-price,
.order-total {
    font-size: 28px;
}

.order-item-left {
    display: flex;
    gap: 12px;
    align-items: center;
}

.remove-item-btn {
    font-family: 'Verdana', sans-serif;
    color: var(--remove-item-color);
    cursor: pointer;
}

.order-total {
    display: flex;
    justify-content: space-between;
    color: var(--checkout-section-total-color);
}